@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Viga|Ropa+Sans&display=swap');

@import './css/variables.scss';

* {
  box-sizing: border-box;
}

p {
  font-size: 14pt;
  margin: 0;
}

html,
#root,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Ropa Sans';
  background: $c1;
  color: $c5;
  font-size: 1.2em;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Luckiest Guy';
  letter-spacing: 0.2em;
  margin: 0;
}

button {
  font-family: Viga;
  border: 0;
  border-radius: 1ch;
  background: $c5;
  margin: 1ch;
  padding: 0.5ch 1ch;
  font-size: 12pt;
  color: $c1;

  &:hover {
    background: $c3;
    color: $c5;
  }

  &.done {
    background: $c3;
  }
}

.menu {
  display: flex;
  justify-content: space-around;
  background: #5b5656;
  width: 100%;
  padding: 1ch;
  margin: 0;
}

a {
  font-size: 20pt;
  color: $c3;

  &:visited {
    color: $c3;
  }
  &:hover {
    color: $c5;
  }

  button {
    font-size: 12pt;
  }
}

.relation-view {
  display: flex;
  width: 100%;

  .label {
    margin-right: 1ch;
    font-weight: bold;
  }

  .text {
    padding-left: 1ch;
  }
}
