@import '../../css/variables.scss';

.record-view {
  width: 40%;
  text-align: left;
  background: $c2;
  padding: 1ch;
  border-radius: 1ch;
  margin: 1ch 0;

  h3 {
    color: darken($c5, 30%);
    text-shadow: darken($c1, 10%) 3px 3px;
  }
}
